<div class="row">
  <div class="col-md-4 col-md-offset-4 signin-signup-modal bg-grey">
    <form (ngSubmit)="onSignin(signinForm.value.username, signinForm.value.password)" #signinForm="ngForm">
      <h2 class="text-center">Sign In</h2>
      <div class="form-group">
        <input type="text" ngModel name="username" class="form-control" placeholder="Enter Username"/>
      </div>
      <div class="form-group">
        <input type="password" ngModel name="password" class="form-control" placeholder="Password"/>
      </div>
  
      <button type="submit" class="btn btn-success col-md-12 m-b-10">Sign In</button>
  
        <div class="col-md-12 p-0">
      <div class="col-md-6 p-0">Forgot Your Password?</div>
      <div class="col-md-6 p-0 text-right"><a routerLink = "/signup">Create an Account</a></div>
        </div>
    </form>
  </div>
</div>


